# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. List popular languages for Data Science
2. List open source development environments for Data Science
3. Share Jupyter notebooks via Github

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. Matplotlib
3. numpy

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python.
* 1+2
* 3*6
* 4.3/22

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Keith McCann